.dropdown {
  animation-duration: 0.5s;
  animation-name: slidein;
  background-color: white;
  border-radius: 3px;
  border: 1px solid var(--gray);
  box-shadow: 0px 0px 5px var(--gray);
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  height: 0;
  padding: 0;
  position: absolute;
  transition: 0.3s;
  visibility: hidden;
  width: 0;
}
.dropdown > * {
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
  padding: 0;
  height: 0;
}
.dropdown > *:hover {
  background-color: var(--lightgray);
}
.dropdown--active > * {
  opacity: 1;
  padding: 10px 10px;
  height: auto;
}
.dropdown--active {
  height: auto;
  padding: 5px 0;
  visibility: visible;
  width: 200px;
}
.dropdown--left .dropdown {
  right: 10px;
}
.dropdown--right .dropdown {
  left: 10px;
}

@keyframes slidein {
  from {
    width: 0;
    height: 0;
  }

  to {
    width: 200px;
    height: auto;
  }
}
