.mainbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--topBarHeight);
  padding: 5px 10px;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  z-index: 10;
  background: #fff;
}

.mainbar .btn,
.mainbar > * {
  margin: 0 10px;
}

.mainbar__menu {
  margin-left: 22px;
}

.mainbar .search {
  max-width: 500px;
}

.mainbar__buttons {
  display: flex;
}

.mainbar__buttons .btn {
  color: var(--blue);
}

.navbar {
  width: var(--leftBarWidth);
  background: #fff;
  height: calc(100vh - var(--topBarHeight));
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  top: var(--topBarHeight);
  padding-top: 40px;
  box-sizing: border-box;
  position: fixed;
}

.navbar__link {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
  transition: 0.2s;
}

.navbar__text {
  font-size: 14px;
}

.navbar__link:hover {
  background: var(--lightgray);
}

.navbar__link--active svg,
.navbar__link--active {
  color: var(--blue);
}

.mainbar__input-file {
  width: 1px;
  height: 0;
  opacity: 0;
}
