.search {
  display: flex;
  width: 100%;
  min-width: 160px;
  background: var(--gray);
  border-radius: 5px;
  padding: 5px 0;
  box-sizing: border-box;
  border: 1px solid var(--gray);
  transition: 1s;
}

.search .search-icon {
  padding: 0 10px;
  color: var(--darkgray);
}

.search input {
  width: 100%;
  border: none;
  background: inherit;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}

.search:focus-within {
  background: white;
}

.IText {
  position: relative;
}
/* https://codepen.io/chrisoncode/pen/IdGKH */
.IText input {
  padding: 10px 20px;
  width: 100%;
  box-sizing: border-box;
  display: block;
  border: 0;
  padding: 10px 5px;
  background: #fff no-repeat;

  /* 2 imgs : 1px gray line (normal state) AND 2px blue line (focus state) */
  background-image: linear-gradient(to bottom, var(--blue), var(--blue)),
    linear-gradient(to bottom, var(--darkgray), var(--darkgray));
  /* sizes for the 2 images (default state) */
  background-size: 0 2px, 100% 1px;
  /* positions for the 2 images. Change both "50%" to "0%" or "100%" and tri again */
  background-position: 50% 100%, 50% 100%;

  /* animation solely on background-size */
  transition: background-size 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
}

.IText input:focus {
  /* sizes for the 2 images (focus state) */
  background-size: 100% 2px, 100% 1px;
}
