.btn {
  border: none;
  outline: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: 0.5s;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.btn svg {
  margin-right: 10px;
}

.btn:hover:not(:disabled) {
  background: var(--lightgray);
}

.btn--simple {
  justify-content: left;
  border-radius: 0;
}

/* PRIMARY */
.btn--primary {
  background: var(--blue);
  color: #fff;
  font-weight: 500;
  transition: 0.5s;
}

.btn--primary:hover:not(:disabled) {
  background: var(--darkblue);
}

.btn--primary:disabled {
  background: var(--gray);
  color: var(--darkgray);
  cursor: default;
}

.btn.btn--primary:hover {
  background: rgba(255, 255, 255, 255, 0.5);
}
.btn.btn--primary .roller {
  height: 13px;
}

.btn--primary .loader {
  width: 0;
  visibility: hidden;
  transition: 0.4s;
}
.btn--primary .loader--visible {
  visibility: visible;
  width: 10px;
  margin-left: 5px;
}

/* BUTTON ICON */
.btn-icon {
  display: inline;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  padding: 5px;
  border-radius: 5px;
}

.btn-icon:hover {
  background-color: var(--lightgray);
}
