.btn {
  border: none;
  outline: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: 0.5s;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.btn svg {
  margin-right: 10px;
}

.btn:hover {
  background: var(--lightgray);
}

/* PRIMARY */
.btn--primary {
  background: var(--blue);
}

.btn.btn--primary:hover {
  background: rgba(255, 255, 255, 255, 0.5);
}

/* BUTTON ICON */
.btn-icon {
  display: inline;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  padding: 5px;
  border-radius: 5px;
}

.btn-icon:hover {
  background-color: var(--lightgray);
}
