/* https://loading.io/css/ */
.roller {
  position: relative;
  width: 15px;
  height: 15px;
}
.roller div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 15px;
  height: 15px;
  border: 2px solid #fff;
  border-radius: 50%;
  animation: roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.roller div:nth-child(1) {
  animation-delay: -0.45s;
}
.roller div:nth-child(2) {
  animation-delay: -0.3s;
}
.roller div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* https://codepen.io/holdencreative/pen/vEVbwv */
.linear {
  background-clip: padding-box;
  background-color: var(--lightblue);
  border-radius: 10px;
  display: block;
  height: 2px;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.linear .linear__indeterminate {
  background-color: var(--blue);
}
.linear .linear__indeterminate:before {
  animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
  background-color: inherit;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  top: 0;
  will-change: left, right;
}
.linear .linear__indeterminate:after {
  animation-delay: 1.15s;
  animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  background-color: inherit;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  top: 0;
  will-change: left, right;
}
@keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%;
  }
  60% {
    left: 100%;
    right: -90%;
  }
  100% {
    left: 100%;
    right: -90%;
  }
}
@keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%;
  }
  60% {
    left: 107%;
    right: -8%;
  }
  100% {
    left: 107%;
    right: -8%;
  }
}
