:root {
  --leftBarWidth: 85px;
  --topBarHeight: 60px;

  --lightgray: #f7f7f7;
  --gray: #e4e4e4;
  --darkgray: #7b7b7b;

  --blue: #1a73e8;
  --lightblue: #e8f0fe;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

input {
  outline: none;
}

a {
  text-decoration: none;
  color: var(--darkgray);
}

a svg {
  color: var(--darkgray);
}

a:active {
  color: var(--blue);
}

#root {
  display: flex;
  flex-flow: column nowrap;
}

#main-content {
  display: flex;
  align-self: flex-end;
  width: calc(100% - var(--leftBarWidth));
  padding-top: 40px;
}
